.wrapper {
    height: 100vh;
    width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://images.unsplash.com/photo-1609311301202-4af83892e603?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  padding: 40px 60px;
  border-radius: 12px;

  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  /* Додаємо анімацію */
  animation: fadeIn 0.8s ease forwards;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 12px 28px;

  background-color: #ffd000;
  color: black;
  font-weight: 600;
  border-radius: 8px;

  text-decoration: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #e6be00;
  transform: scale(1.05);
}
/* Анімація плавної появи */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}