.title{
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  margin: 30px 0;
  color: #ebc10a;
  text-transform: uppercase;
  letter-spacing: 2px;

  /* невелика тінь для обєму */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
}
.ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 0;
    margin: 0 0 24px 0;
    list-style: none;
}

.li {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 320px;

    padding: 16px;
    border-radius: 12px;

    background: #fffbe6;
    border: 1px solid #e6db8f;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);

    transition: transform 0.25s ease, background-color 0.25s ease, box-shadow 0.25s ease;
}

.li:hover {
    background-color: #fff4a3;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.selected {
    background-color: #ffe05c;
    border: 2px solid #c7a400;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.li p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.li a {
    margin-top: 8px;
    text-decoration: none;
    font-weight: bold;

    color: #ffa600;
    transition: color 0.2s;
}

.li a:hover {
    color: #bb8f3f;
}

/* Buttons */
button {
    padding: 8px 18px;
    margin: 8px;
    border-radius: 8px;
    border: none;

    background-color:#ffa600;
    color: white;
    font-weight: 600;

    cursor: pointer;
    transition: background 0.25s, opacity 0.25s;
}

button:hover {
    background-color: #bb8f3f;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
