.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 80px;
    padding: 8px;

    background-color: yellow;

    transition: background-color 0.3s ease, color 0.3s ease;

}

.li:hover {
    background-color: rgb(216, 212, 7);
}

.selected {
    background-color: rgb(216, 212, 7);
    
    border: 2px solid #080808;
}