.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 20px 0;

    background: white;
    border-bottom: 2px solid #f0f0f0;
}

.link {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;

    padding: 6px 4px;
    transition: color 0.3s ease;
}

/* Ховер */
.link:hover {
    color: #d19b08;
}

/* Плавне підкреслення при ховері */
.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0%;
    height: 2px;
    background-color: #e0a300;
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}

/* Активне посилання */
.isActive {
    color: #e0a300;
}

.isActive::after {
    width: 100%;
}